<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="popup.css" />
    <% if (NODE_ENV === 'development') { %>
    <!-- Load some resources only in development environment -->
    <% } %>
  </head>
  <style>
      body {
          width: 460px;
          height: 500px;
          -ms-overflow-style: none;  /* Internet Explorer 10+ */
          scrollbar-width: none;  /* Firefox */
      }
      body::-webkit-scrollbar {
          display: none;  /* Safari and Chrome */
      }
  </style>
  <body>
    <div id="app"></div>
    <script src="popup.js"></script>
  </body>
</html>
